= render :partial => 'admin/shared/configuration_menu'
= render :partial => "js_head"
%h1= t("taxonomy_edit")
%p#ajax_error.errorExplanation{:style => "display:none;"}
- form_for(:taxon, :url => admin_taxonomy_url, :html => {:method => :put}) do |f|
  = render :partial => 'form', :locals => {:f => f}
  %div
    %label= t("tree")
    %br/
    #taxonomy_tree.tree
  %p#progress{:style => "display:none;"}
    %img{:alt => "Spinner", :src => "/images/spinner.gif?1234540747", :style => "vertical-align:bottom;"}/
    #{t('updating')}..
  %p
    %br/
    %small= t("taxonomy_tree_instruction")
  %p.form-buttons
    = button t("update")
    = t("or")
    = link_to t("cancel"), admin_taxonomies_path
- content_for :head do
  %script{:type => 'text/javascript'}
    var initial =
    [{
    attributes : { "id" : "#{@taxonomy.root.id}" }, data : "#{@taxonomy.root.name}", state : "open",
    children : [
    = @taxonomy.root.children.map {|t| "{attributes : { id : \"#{t.id}\"}, data : \"#{t.name}\"#{t.children.empty? ? '' : ',state : "closed"'}}"}.join(',')
    ]
    }];