%table.index
  %thead
    %tr
      %th= t("name")
      %th= t("path")
      %th
  %tbody
    - taxons.each do |taxon|
      %tr{:id => dom_id(taxon, :sel)}
        %td= taxon.name
        %td= taxon_path taxon
        %td.actions
          = image_tag "spinner.gif", :style => "display:none", :id => "#{dom_id(taxon, :rem_spinner)}"
          - link_text = icon('delete') + ' ' + t('remove')
          - link_url = remove_admin_product_taxon_url(@product, taxon)
          - link_loading = "jQuery('##{dom_id(taxon, :rem_spinner)}').show();"
          - link_complete = "jQuery('##{dom_id(taxon, :sel)}').remove(); jQuery('##{dom_id(taxon, :rem_spinner)}').hide();"
          - link_opts = {:url => link_url, :loading => link_loading, :update => 'selected-taxons', :complete => link_complete}
          = link_to_remote link_text, link_opts, :class => 'iconlink'
    - if taxons.empty?
      %tr
        %td{:colspan => "3"} #{t('none')}.