:javascript
  function displayRow(){
    var row = document.getElementById("captionRow");
    if (row.style.display == '') row.style.display = 'none';
    else row.style.display = '';
  }
%h4= t('available_taxons')
%table.index
  %thead
    %tr
      %th= t("name")
      %th= t("path")
      %th= t("action")
  %tbody
    - @available_taxons.each do |taxon|
    %tr{:id => dom_id(taxon)}
      %td= taxon.name
      %td= taxon_path taxon
      %td.actions
        = image_tag "spinner.gif", :style => "display:none", :id => "#{dom_id(taxon, :spinner)}"
        = link_to_remote icon('add') + ' ' + t('select'),                                                                           |
          {:url => select_admin_product_taxon_path(@product, taxon),                                                                |
          :loading => "jQuery('##{dom_id(taxon, :spinner)}').show()",                                                               |
          :update => 'selected-taxons',                                                                                             |
          :complete => "jQuery('##{dom_id(taxon)}').remove(); jQuery('##{dom_id(taxon, :spinner)}').hide();"}, :class => 'iconlink' |
    </haml:block>
    - if @available_taxons.empty?
    %tr
      %td{:colspan => "3"}
        = t('no_match_found')
        \.
    </haml:block>
