- f.field_container :name do
  = f.label :name, t("name")
  %br/
  = f.text_field :name
  = f.error_message_on :name
%h3= t("properties")
%ul#properties.checkbox-list
  - Property.sorted.each do |property|
    - selected = false
    - if @prototype.new_record?
      - selected = (params[:property] and params[:property][:id] and params[:property][:id].include?(property.id.to_s))
    - else
      - selected = @prototype.properties.include?(property)
    %li
      %label
        = check_box_tag "property[id][]", "#{property.id}", selected
        = property.name
%hr/
%h3= t("option_types")
%ul#properties.checkbox-list
  - OptionType.all.each do |option_type|
    - selected = false
    - if @prototype.new_record?
      - selected = (params[:option_type] and params[:option_type][:id] and params[:option_type][:id].include?(option_type.id.to_s))
    - else
      - selected = @prototype.option_types.include?(option_type)
    %li
      %label
        = check_box_tag "option_type[id][]", "#{option_type.id}", selected
        = option_type.name
%hr/