.toolbar
  %ul.actions
    %li
      = button_link_to t("new_product_group"), new_object_url, :icon => 'add'
  %br.clear/
%h1
  = t("listing", :scope => :actions)
  = ProductGroup.human_name
%table.index
  %thead
    %tr
      %th= ProductGroup.human_attribute_name("name")
      %th= ProductGroup.human_attribute_name("url")
      %th= ProductGroup.human_attribute_name("product_scopes")
      %th= ProductGroup.human_attribute_name("product_count")
      %th= t(:action)
  %tbody
    - @product_groups.each do |pg|
    %tr
      %td= link_to pg.name, object_path(pg)
      %td= link_to "/pg/#{pg.permalink}", "/pg/#{pg.permalink}"
      %td= pg.product_scopes.map(&:to_sentence).join("<br />")
      %td= pg.valid? ? pg.products.count : t("product group is invalid")
      %td
        = link_to t(:show), object_path(pg)
        \&nbsp; | &nbsp;
        \#{link_to t(:edit), edit_object_path(pg)} &nbsp; | &nbsp;
        \#{link_to t(:destroy), object_path(pg), :method => :delete} &nbsp; | &nbsp;
        \#{link_to t(:preview), "/pg/#{pg.permalink}"}
    </haml:block>
= will_paginate(:prev => "&#171; #{t('previous')}", :next => "#{t('next')} &#187;")
