%h2= ProductGroup.human_name
%p
  #{ProductGroup.human_attribute_name(:name)}:
  = @product_group.name
%p
  #{ProductGroup.human_attribute_name(:url)}:
  = link_to @product_group.permalink, "/pg/#{@product_group.permalink}"
%h2
  = ProductGroup.human_attribute_name(:product_scopes)
  (#{@product_group.product_scopes.count})
%table.product-scopes
  %thead
    %tr
      %th= ProductScope.human_attribute_name(:description)
      %th= ProductScope.human_attribute_name(:arguments)
  %tbody
    - @product_group.product_scopes.each do |product_scope|
      %tr{:class => (!product_scope.valid? ? 'invalid' : '')}
        %td= product_scope.to_sentence
        %td= product_scope.arguments.join(", ")
= render :partial => 'preview.html'