- if @taxon.parent
  - siblings = @taxon.parent.children
- else
  - siblings = Taxonomy.all.map &:root
#taxonomies.sidebar-item
  %ul.navigation-list
    - siblings.each do |s|
      %li{:class => (s == @taxon ? 'current' : '')}
        - if s.parent
          = link_to s.name, url_for(:taxon => s.id)
        - else
          = link_to t("shop_by_taxonomy", :taxonomy => s.taxonomy.name.singularize), url_for(:taxon => s.id), :class => 'root'
- form_for :search do |f|
  - params[:search] ||= {}
  %input{:name => "taxon", :type => "hidden", :value => @taxon.id}/
  %input{:name => "per_page", :type => "hidden", :value => params[:per_page]}/
  - filters = @taxon ? @taxon.applicable_filters : [ProductFilters.all_taxons]
  - filters.each do |filter|
    - labels = filter[:labels] || filter[:conds].map {|m,c| [m,m]}
    - next if labels.empty?
    .navigation
      %span.category= filter[:name]
      %ul.filter_choices{:style => "list-style-type:none; padding-left: 0px;"}
        - labels.each do |nm,val|
          - label = "#{filter[:name]}_#{nm}".gsub(/\s+/,'_')
          %li.nowrap
            -# had problems with the following, so am hard-coding it
            -# f.check_box "taxons_id_equals_any[]", {}, taxon.id
            - checked = params[:search][filter[:scope]]
            - checked &&= params[:search][filter[:scope]].include?(val.to_s) ? "checked" : ""
            %input{:type => 'checkbox', :id => label, :name => "search[#{filter[:scope]}][]", :value => val, :checked => checked, :onclick => 'this.form.submit();'}
            %label.nowrap{:for => label}= nm