%p
  = f.label :amount, t(:amount)
  = f.text_field :amount, :size=> 8, :value => @order.outstanding_balance
- if @object.class == CreditcardPayment
  %fieldset
    %legend= t('creditcard')
    - if current_gateway.payment_profiles_supported? and @previous_cards.any?
      %p.field
        - @previous_cards.each do |card|
          %label
            = radio_button_tag :card, card.id, card == @previous_cards.first
            = card.display_number
            %br/
        %label
          = radio_button_tag :card, 'new'
          Use a new card
    #card_form{:style => (current_gateway.payment_profiles_supported? and @previous_cards.any? ? 'display:none;' : '')}
      = render 'card_form', :f => f
      = render 'bill_address_form', :f => f