= render :partial => 'admin/shared/order_tabs', :locals => {:current => "Payments"}
%h2
  = t('new')
  = t("activerecord.models.#{@object.class.to_s.underscore}.one")
= error_messages_for :payment
%p
  %label= t('type')
  %br/
  - sel_opts = [:creditcard_payment, :cheque_payment].map do |payment_type|
    - opt_text = t("activerecord.models.#{payment_type}.one")
    - opt_val = new_admin_order_payment_path(:payment_type => payment_type.to_s)
    - [opt_text, opt_val]
  - selected_opt = new_admin_order_payment_path(:payment_type => @payment.class.to_s.underscore))
  = select_tag :payment_type, options_for_select(sel_opts, selected_opt, :class => 'jump_menu')
- form_for @payment, :url => collection_url do |f|
  = hidden_field_tag :payment_type, object.class.to_s.underscore
  = render "form", :f => f
  %p.form-buttons= @order.in_progress? ? t('continue') : t('update')
- content_for :head do
  = javascript_include_tag 'admin/payments/new'