= error_messages_for :order
%table#cart-detail
  %thead
    %tr
      - hook :cart_items_headers do
      %th{:colspan => "2"}= t("item")
      %th= t("price")
      %th= t("qty")
      %th= t("total")
      </haml:block>
  %tbody#line_items
    - order_form.fields_for :line_items do |item_form|
      = render 'line_item', :variant => item_form.object.variant, :line_item => item_form.object, :item_form => item_form
    - if @order.line_items.empty?
    %tr#none
      %td{:colspan => "5"}= t("your_cart_is_empty.")
    </haml:block>
