= render :partial => 'admin/shared/configuration_menu'
.toolbar
  %ul.actions
    %li= button_link_to t("new_tracker"), new_object_url, :icon => 'add'
  %br.clear/
%h1= t("analytics_trackers")
%table.index
  %thead
    - hook :admin_trackers_index_headers do
      %th= t(:google_analytics_id)
      %th= t("environment")
      %th= t("active")
    %th= t("action")
  %tbody
    - @trackers.each do |tracker|
      %tr{:id => dom_id(tracker)}
        - locals = {:tracker => tracker}
        - hook :admin_trackers_index_rows, locals do
          %td= tracker.analytics_id
          %td= tracker.environment.to_s.titleize
          %td= tracker.active.to_s.titleize
        %td
          = link_to_edit tracker
          \&nbsp;
          = link_to_delete tracker