%table.index
  %tr
    %th= t("product")
    %th= t("quantity_shipped")
    %th= t("return_quantity")
  - @return_authorization.order.shipped_units.each do |shipped_unit|
  %tr{:id => dom_id(shipped_unit[0])}
    %td
      %h4{:style => "margin-bottom:0px;"}= shipped_unit[0].name
      = shipped_unit[0].options_text
    %td= shipped_unit[1]
    %td.return_quantity
      = text_field_tag "return_quantity[#{shipped_unit[0].id}]",                                                                |
        @returned_units.empty? ? 0 : (@returned_units[shipped_unit[0].id].nil? ? 0 : @returned_units[shipped_unit[0].id].size), |
        {:style => "width:30px;"}                                                                                               |
  </haml:block>
- f.field_container :amount do
  = f.label :amount, t("amount")
  %span.required *
  %br/
  = f.text_field :amount, {:style => "width:80px;"}
  = t("rma_value")
  \:
  %span#rma_value
  = f.error_message_on :amount
- f.field_container :reason do
  = f.label :reason, t("reason")
  = f.text_area :reason, {:style=> "height:100px;", :class => 'fullwidth'}
  = f.error_message_on :reason
- content_for :head do
  :javascript
    var variant_prices = new Array();
<haml:silent>     @return_authorization.order.shipped_units.each do |shipped_unit| 
</haml:silent><haml:block>      variant_prices[#{shipped_unit[0].id.to_s}] = #{shipped_unit[0].price};
</haml:block>
    function calculate_rma_price(object, value){
      var rma_amount = 0;

      $.each($("td.return_quantity input"), function(i, inpt){
        var variant_id = $(inpt).attr('id').replace("return_quantity_", "");
         rma_amount += variant_prices[variant_id] * $(inpt).val()
      });

      if(!isNaN(rma_amount)){
        $("span#rma_value").html(rma_amount.toFixed(2));
      }
    }

    jQuery(document).ready(function(){
      $.each($("td.return_quantity input"), function(i, inpt){
        $(inpt).delayedObserver(0.5, calculate_rma_price)
      });

      calculate_rma_price();
    });
  