.toolbar
  %ul.actions
    %li
      - ['receive', 'cancel'].each do |action|
        - if @return_authorization.send("can_#{action}?")
          - b_url = fire_admin_order_return_authorization_url(@order, @return_authorization, :e => action)
          = button_link_to(t(action), b_url, :method => :put, :confirm => t('are_you_sure'))
  %br.clear/
= render :partial => 'admin/shared/order_tabs', :locals => {:current => "Return Authorizations"}
%h2
  = t("return_authorization")
  = @return_authorization.number
  (#{t(@return_authorization.state.downcase)})
= error_messages_for :return_authorization
- form_for(@return_authorization, :url => object_url, :html => { :method => :put}) do |f|
  = render :partial => "form", :locals => {:f => f}
  %p.form-buttons
    = button t('continue')
    = t("or")
    = link_to t("actions.cancel"), admin_order_return_authorizations_url(@order)