= error_messages_for :user
%h1= t("editing_user")
- form_for(:user, :url => object_url, :html => { :method => :put }) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p.form-buttons
    = button t("update")
    = link_to t('cancel'), collection_url
