/ no need for thumnails unless there is more then one image
- if product.images.size > 1
  %ul#product-thumbnails.thumbnails
    - product.images.each do |i|
      %li= link_to(image_tag(i.attachment.url(:mini)), i.attachment.url(:product))
- if @product.has_variants?
  - has_checked = false
  %h4#variant-images
    #{t('images_for')}:
    %span= @selected_variant.options_text
  %ul#variant-thumbnails.thumbnails
    - @variants.each do |v|
      - checked = !has_checked && (v.available?)
      - has_checked = true if checked
      - if checked
        - v.images.each do |i|
          %li= link_to(image_tag(i.attachment.url(:mini)), i.attachment.url(:product))
- content_for :head do
  :javascript
  %script{:charset => "utf-8", :type => "text/javascript"}
    var images = new Array();
    - @variants.each do |v|
      images[#{v.id}] = new Array();
      - v.images.each_with_index do |image, i|
        images[#{v.id}][#{i}] = #{link_to(image_tag(image.attachment.url(:mini)), image.attachment.url(:product)).to_json};