- content_for :sidebar do
  - hook :homepage_sidebar_navigation do
    - if "products" == @current_controller && @taxon
      = render "shared/filters"
    - else
      = render "shared/taxonomies"
- if params[:keywords]
  %h1= t(:search_results, :keywords => h(params[:keywords]))
  - hook :search_results do
    - if @products.empty?
      = t(:no_products_found)
    - else
      = render "shared/products", :locals => {:products => @products, :taxon => @taxon}
- else
  - hook :homepage_products do
    = render "shared/products", :locals => {:products => @products, :taxon => @taxon}
