- @body_id = 'product-details'
%h1= @product.name
#product-images
  #main-image= render 'image'
  #thumbnails= render 'thumbnails', :product => @product
#product-description
  - hook :product_description do
    = product_description(@product) rescue t("product_has_no_description")
  - hook :product_properties do
    = render 'properties'
- hook :cart_form do
  #cart-form= render 'cart_form'
= render 'taxons'
