%h1= t(:order) + " #{@order.number}"
- content_for :sidebar do
  %h3.name= t(:order) + " ##{@order.number} (#{t(@order.state)})"
  %br{:clear => "clear"}/
  %ul.sidebar
    - hook :admin_order_tabs, {:current => current} do
      %li{:class => (current == "Customer Details" ? 'active' : '')}
        - if @order.state == "in_progress"
          = link_to t("customer_details"), edit_admin_order_checkout_url(@order)
        - else
          = link_to t("customer_details"), admin_order_checkout_url(@order)
      %li{:class => (current == "Order Details" ? 'active' : '')}
        - if @order.state == "in_progress"
          = link_to t("order_details"), edit_admin_order_url(@order)
        - else
          = link_to t("order_details"), admin_order_url(@order)
      %li{:class => (current == "Adjustments" ? 'active' : '')}
        = link_to t("adjustments"), admin_order_adjustments_url(@order)
      %li{:class => (current == "Payments" ? 'active' : '')}
        = link_to t("payments"), admin_order_payments_url(@order)
      %li{:class => (current == "Creditcards" ? 'active' : '')}
        = link_to t("creditcards"), admin_order_creditcards_url(@order)
      %li{:class => (current == "Shipments" ? 'active' : '')}
        = link_to t("shipments"), admin_order_shipments_url(@order)
      %li{:class => (current == "Return Authorizations" ? 'active' : '')}
        = link_to t("return_authorizations"), admin_order_return_authorizations_url(@order)
      %li{:class => (current == "History" ? 'active' : '')}
        = link_to t("history"), history_admin_order_url(@order)