%h1= t("editing_product") + " &ldquo;#{@product.name}&rdquo;"
- content_for :sidebar do
  %h3.name
    = @product.name
    %span.sku= @product.sku
  %br{:clear => "clear"}/
  %ul.sidebar.product-menu
    - hook :admin_product_tabs, {:current => current} do
      %li{:class => (current == "Product Details" ? 'active' : '')}
        = link_to t("product_details"), edit_admin_product_url(@product)
      - if url_options_authenticate?(:controller => 'admin/images')
        %li{:class => (current == "Images" ? 'active' : '')}
          = link_to t("images"), admin_product_images_url(@product)
      - if url_options_authenticate?(:controller => 'admin/variants')
        %li{:class => (current == "Variants" ? 'active' : '')}
          = link_to t("variants"),  admin_product_variants_url(@product)
      - if url_options_authenticate?(:controller => 'admin/option_types')
        %li{:class => (current == "Option Types" ? 'active' : '')}
          = link_to t("option_types"), selected_admin_product_option_types_url(@product)
      - if url_options_authenticate?(:controller => 'admin/properties')
        %li{:class => (current == "Product Properties" ? 'active' : '')}
          = link_to t("product_properties"), admin_product_product_properties_url(@product)
      - if url_options_authenticate?(:controller => 'admin/taxons')
        %li{:class => (current == "Taxons" ? 'active' : '')}
          = link_to t("taxons"), selected_admin_product_taxons_url(@product)
  %br{:clear => "clear"}/