- form_for @search do |s|
  %label= t("date_range")
  %br/
  .yui-g.date-range-filter
    .yui-u.sub-field.first
      = s.unobtrusive_date_picker :created_at_after
      %br/
      %label.sub= t("start")
    .yui-u.sub-field
      = s.unobtrusive_date_picker :created_at_before
      %br/
      %label= t("stop")
  %p= button t("search")
