- f.field_container :name do
  = f.label :name, t("name")
  %br/
  = f.text_field :name
  = f.error_message_on :name
- f.field_container :name do
  = f.label :presentation, t("presentation")
  %br/
  = f.text_field :presentation
  = f.error_message_on :presentation
%h3= t("option_values")
%table.index
  %thead
    %tr
      %th= t("name")
      %th= t("display")
      %th
  %tbody#option_values
    = f.render_associated_form(@option_type.option_values)
    %tr#none
      %td{:colspan => "3"}= @option_type.option_values.empty? ? t("none") : ""
%p
  - link_text = icon('add') + ' ' + t("add_option_value")
  - link_html_opts = {:onclick => "jQuery('#none').hide();", :class => 'iconlink'}
  = f.add_associated_link(link_text , @option_type.option_values.build, link_html_opts)