= render :partial => 'admin/shared/product_sub_menu'
#selected-options
  = render :partial => 'admin/shared/product_tabs', :locals => {:current => "Option Types"}
  %table.index
    %tr
      %th= t("name")
      %th= t("presentation")
      %th &nbsp;
    - @option_types.each do |option_type|
      %tr
        %td= option_type.name
        %td= option_type.presentation
        %td.actions
          = link_to_with_icon 'delete',  t("remove"), remove_admin_product_option_type_url(@product, option_type)
    - if @option_types.empty?
      %tr
        %td{:colspan => "3"} None.
  = image_tag "spinner.gif", :style => "display:none", :id => 'busy_indicator'
  #option-types
  %span#new_opt_link
    - link_text = icon('add') + ' ' + t("add_option_type")
    - link_opts = {:url => available_admin_product_option_types_url(@product), :method => :get, :update => "option-types"}
    = link_to_remote link_text, link_opts, :class => 'iconlink'
