!!!
%html{html_attrs('en-US')}
  %head
    - hook :inside_head do
      = render :partial => 'shared/head'
  - if @body_class.nil?
    - if @content_for_sidebar
      - @body_class = 'two-col'
    - else
      - @body_class = 'one-col'
  %body{:class => @body_class, :id => (@body_id ? @body_id : nil)}
    #header.container
      #login-bar
        %ul#nav-bar= render 'shared/nav_bar'
      = logo
    #wrapper.container
      - if @content_for_sidebar
        #sidebar
          - hook :sidebar do
            = yield :sidebar
      #content
        = breadcrumbs(@taxon) if @taxon
        - if flash[:notice]
          .flash.notice= flash[:notice]
        - if flash[:error]
          .flash.errors= flash[:error]
        = yield
      = render :partial => 'shared/footer'